@font-face {
  font-family: 'Noto Sans';
  src: url('../resources/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Google Sans Flex';
  src: url('../resources/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
body div h2 {
  font-family: "Noto Sans";
  font-size: x-large;
}
.container {
  max-width: 700px;
}

#down-btn * {
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding: 4px 11px;
  border-radius: 5px;
  transition: 0.2s ease;
}
#down-btn input {
  background-color: #198754;
}

#down-btn *:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}
.none-btn:hover {
  border: 1px solid #000;
}

.popup-message {
  font-size: 14px;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: #444;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  animation: fadeOut 3s forwards;
  z-index: 1000;
}
@keyframes fadeOut {
  0%   { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; }
}
